* {
    box-sizing: border-box;
}

.tbl-info {
    font-family: 'Kdam Thmor Pro', sans-serif;
}


/* Estilos del thead */

.tbl-info thead {
    background: #000;
    color: #fff;
}

.tbl-info thead tr th {
    padding: 10px 1%;
    width: 5%;
}


/* Estilos del tbody */

.tbl-info tbody tr {
    border-bottom: 2px solid #3abab4;
}

.tbl-info tbody tr:nth-child(even) {
    background: rgb(230, 234, 234);
}

.tbl-info tbody tr td {
    padding: 10px 1%;
    text-align: center;
    width: 5%;
}

.btn-editar {
    background: #ff9f43;
    border: transparent;
    border-right: 3px solid #000;
    cursor: pointer;
    padding: 5px;
    width: 60px;
}

.btn-editar:hover {
    background: #feca57;
}

.btn-eliminar {
    background: #ee5253;
    border: transparent;
    cursor: pointer;
    padding: 5px;
    width: 60px;
}

.btn-eliminar:hover {
    background: #ff6b6b;
}

.btn-agregar {
    background: #6ab04c;
    border: transparent;
    cursor: pointer;
    padding: 5px;
    width: 60px;
}

.btn-agregar:hover {
    background: #badc58;
}

.ocultar {
    /*El elemento desaparece del html, y DEJA DE OCUPAR ESPACIO*/
    display: none;
    /*El elemento desaparece del html, respeta el espacio (tamaño) requerido por el elemento*/
    /* visibility: hidden; */
}